Source: csh
Section: shells
Priority: optional
Maintainer: Matej Vela <vela@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7.0.50), groff, pmake

Package: csh
Architecture: any
Provides: c-shell
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shell with C-like syntax, standard login shell on BSD systems
 The C shell was originally written at UCB to overcome limitations in the
 Bourne shell.  Its flexibility and comfort (at that time) quickly made it
 the shell of choice until more advanced shells like ksh, bash, zsh or
 tcsh appeared.  Most of the latter incorporate features original to csh.
 .
 This package is based on current OpenBSD sources.
